@charset "UTF-8";
.left_article div .btn.btn-sm.btn-default.button_bearbeiten {
	margin-top: 4%;
}
.container section .left_article.left_article_mitglieder {
	width: 100%;
}
.row .columns .mitglieder_infos {
	float: left;
	margin-left: 8%;
	width: 40%;
	margin-bottom: -10px;
	font-weight: lighter;
	font-size: 15px;
}
