<h1>Konfiguration der Google Drive:</h1>
<form action="" method="post">
	<fieldset>
	<p>E-Mail des Drive-Owners</p>
	<input type="text" name="drive_owner" value="<?php echo $owner ?>"/>
	
	<p>Folder-ID des Root-Ordners</p>
	<input type="text" name="root_folder_id" value="<?php echo $root ?>"/>
	
	<p>Folder-ID des Ornders für PDFs</p>
	<input type="text" name="pdf_folder" value="<?php echo $pdf ?>"/>
	
	<p>Folder-ID des Ordners für Musik (MP3) Dateien</p>
	<input type="text" name="mp3_folder" value="<?php echo $mp3 ?>"/>
	
	<button type="submit" name="submit" value="S P E I C H E R N">Speichern</button>
	
	</fieldset>
	<fieldset>
		<h1>Kategorien</h1>
		<select id="select" name="del">
		<?php foreach(getAdditionalCategories() as $cat) {
			?> <option name="<?php echo $cat?>"><?php echo $cat ?></option><?php
		}
		?>
		</select>
		<button type="submit" name="delete" value="delete">Löschen</button>
		<br/>
		<input type="text" value="" name="new" id="newC"></input>
		<button type="submit" name="add" value="add">Hinzufügen</button>
	</fieldset>
	<a href="Infos.php">Zurück</a>
	<script>
	function rmCategory() {
		var select = document.getElementById("select");
		var index = select.selectedIndex;
		
		select.remove(index);
	}
	
	function addCategory() {
		var select = document.getElementById("select");
		var option = document.createElement('option');
        option.text = document.getElementById("newC").value;
        select.add(option, 0);
	}
</script>


</form>

